<!DOCTYPE html>
<html>
  <head>
    <title><%= atitle %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= atitle %></h1>
    <p>Welcome to <%= atitle %></p>
  </body>
</html>