/* CSS Document */
@charset "utf-8";
html{font-size:1em;}
body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0; line-height:1.6666667em;}
body{color:#666;font-size:0.75em;background:#f0f0f0; line-height:1.6666667em;}
a:link,a:visited{color:#666; text-decoration:none;}
a:hover{color:#be1a21; text-decoration:none;}
h1{float:left;margin:0}
label{font-weight:normal;}
h1 a:link, h1 a:visited,h2 a:link, h2 a:visited,h3 a:link, h3 a:visited,h4 a:link, h4 a:visited,h5 a:link, h5 a:visited,h6 a:link, h6 a:visited{ color:#333;}
h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{ color:#be1a21;}
@font-face{
  font-family: 'Tahoma';
  src: url('../fonts/tahoma.ttf');
  }
.uc-green{color:#568f00;}
a.uc-green:link,a.uc-green:visited,a.uc-green:hover{color:#be1a21; text-decoration:none;}
.uc-red{color:#f00;}
.uc-yel,a.uc-yel:link,a.uc-yel:visited,a.uc-yel:hover{color:#ff9900; text-decoration:none;}
.uc-gray,a.uc-gray:link,a.uc-gray:visited,a.uc-gray:hover{color:#c1c1c1; text-decoration:none;}

.ucffa{font-family:arial;}
.ucfl{float:left;}
.ucfr{float:right;}
.uccl{clear:both;}
.ucfft{font-family:Tahoma;}
.ucf12{font-size:1em;font-weight:normal;}
.ucf14{font-size:1.1666667em;font-family:"Microsoft YaHei";}
.ucf18{font-size:1.5em;font-family:"Microsoft YaHei";}
.ucf20{font-size:1.6666667em;font-family:"Microsoft YaHei";}
.ucf24{font-size:2em;}
.ucf25{font-size:2.0833333em;font-family:"Microsoft YaHei";}
.ucf28{font-size:2.3333333em;font-family:"Microsoft YaHei";}
.ucf30{font-size:2.5em;}
.ucfwn{font-weight:normal;}
.uctxtc{text-align:center;}

.ucmb0{margin-bottom:0px;}
.ucmb5{margin-bottom:5px;}
.ucml15{margin-left:45px;}
.ucml10{margin-left:15px;}
.ucml112{margin-left:112px;}
.ucmb50{margin-bottom:50px;}
.ucmb103{margin-bottom:103px;}
.ucmtb30{margin-top:30px;margin-bottom:30px;}
.ucmt15{margin-top:15px;}
.ucpr0{padding-right:0;}
.ucpr5{padding-right:5px;}
.ucpl0{padding-left:0;}
.ucpt10{padding-top:10px;}
.jucpl5{padding-left:5px;}

.ucw8{width:80%;}
.ucw9{width:90%;}

.csdn-toolbar .container{
	width:97%;
	}
.csdn-toolbar .container .pull-left{margin-left:30px;}
.csdn-toolbar .container .pull-right{margin-right:30px;}
.container{
	width:97%;
	}
header{
	height:40px;
	border-bottom:1px #d5d5d5 solid;
	background:#48525e;
	}
.uc-logo{
	display:block;
	font-size:0;
	width:96px;
	height:40px;
	background:url(../images/csdn-job-logo.png) no-repeat;
	}
.csdn-toolbar .logo .img{
	padding:21px 68px;
	background-image:url(../images/uc-logo.png);
	background-repeat:no-repeat;
	background-position:0 10px;
	}
/* left menu begin */
.uc-left-menu .panel-heading {
  color: #666666;
  background-color: #dadada;
  border:0;
  padding: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
  }
.uc-left-menu .panel-title {
  font-size: 14px;
}
.uc-left-menu .panel-title a{
	display:block;
	padding:5px 15px;
	clear:both;
	overflow:hidden;
	background:url(../images/uc-ico-hidden.png) no-repeat right 12px;
	}

.uc-left-menu .panel-title a.collapsed{background:url(../images/uc-ico-show.png) no-repeat right 12px;}
.uc-left-menu .panel{
	border:0;
	border-radius:0;
	-webkit-box-shadow:0 0 0 rgba(0,0,0,0);
	box-shadow:0 0 0 rgba(0,0,0,0);
	}
.uc-left-menu .panel + .panel {
  margin-top: 1px;
}
.uc-left-menu .panel-body{padding:0;}
.uc-left-menu .panel-body a{
	display:block;
	clear:both;
	overflow:hidden;
	padding:5px 15px;
	}
.uc-left-menu .panel-body a.on{
	background:#fff0f0;
	color:#be1a21;
	font-weight:bold;
	}
/* left menu end */

/* right begin */
.ucbg-white{background:#fff;padding:10px 25px;}
.uc-inpli .col-sm-10{padding-left:0}
.uc-inpli .col-sm-10 .csdn-avatar75{width: 150px; height: 150px;}
.uc-inpli .ucw49{width:48.5%;}
.uc-inpli .uc-r-tit{
	font-size:25px;	
	margin:15px 0;
}
.uc-inpli .uc-r-tit .csdn-pagination{margin: 10px auto;
    display: table;
    font-size: 12px;
}
/* right end */

/* form begin */
.form-group{margin-bottom:10px;}
.form-control{
	-webkit-box-shadow:inset 0 0 0 rgba(0, 0, 0, 0.075);
	box-shadow:inset 0 0 0 rgba(0, 0, 0, 0.075);
	font-size:12px;
	}
/* form end */

/* table begin */
.table-bordered thead tr th, .table-bordered tbody tr th, .table-bordered tfoot tr th{background:#e9e9e9;border-bottom-width:1px;text-align:center;}
a.uc-ico-id,a.uc-ico-id:link,a.uc-ico-id:visited,a.uc-ico-id:hover{color:#be1a21;}
a.uc-ico-id:hover{text-decoration:underline;}
.ucbg-white{background:#fff;}

.table-bg-gray{background:#e9e9e9;}
.table thead tr td, .table tbody tr td, .table tfoot tr td{
	vertical-align:middle;
	word-wrap:break-word;
	}
.table thead tr.uc-valt td, .table tbody tr.uc-valt td, .table tfoot tr.uc-valt td{
	vertical-align:top;
	}
.table thead tr.uc-bg-gray td, .table tbody tr.uc-bg-gray td, .table tfoot tr.uc-bg-gray td{
	background:#f8f8f8;
	}
.table thead tr th.uc-tab-pd0,
.table tbody tr th.uc-tab-pd0, 
.table tfoot tr th.uc-tab-pd0,
.table tbody tr td.uc-tab-pd0,
.table tfoot tr td.uc-tab-pd0{
  padding:0px;
}

.table tbody tr td.uc-tab-pd0 .table-bordered,
.table tfoot tr td.uc-tab-pd0 .table-bordered,
.table tbody tr td.uc-tab-pd0 .table-bordered td,
.table tfoot tr td.uc-tab-pd0 .table-bordered td{
	border:0;
	}
.table tbody tr td.uc-tab-pd0 .table-bordered td,
.table tfoot tr td.uc-tab-pd0 .table-bordered td{
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	}
.table tbody tr td.uc-tab-pd0 .table-bordered td.uc-tab-brder0,
.table tfoot tr td.uc-tab-pd0 .table-bordered td.uc-tab-brder0{
	border-right:0;
	}
.table tbody tr td.uc-tab-pd0 .table-bordered td.uc-tab-brderb0,
.table tfoot tr td.uc-tab-pd0 .table-bordered td.uc-tab-brderb0{
	border-bottom:0;
	}
.table tbody tr td.uc-tab-pd0 .table,
.table tfoot tr td.uc-tab-pd0 .table{
	margin-bottom:0;
	}
.table thead tr th.uc-tab-pd0 .table-bordered td,
.table tbody tr th.uc-tab-pd0 .table-bordered td, 
.table tfoot tr th.uc-tab-pd0 .table-bordered td{padding:16px 8px 10px;}


.uc-txt-ico{
	display:block;
	clear:both;
	margin:5px 5px 0;
	overflow:hidden;
	}
.uc-txt-ico span{
	display:block;
	float:left;
	}
.uc-txt-ico span.ico16{
	width:16px;
	height:16px;
	background-color:#999999;
	background-repeat:no-repeat;
	margin-right:3px;
	}
.uc-txt-ico .txt{color:#666666;}
.uc-txt-ico .data{
	background-image:url(../images/uc-txt-ico.png);
	background-position: 4px 4px;
	}
.uc-txt-ico .resume{
	background-image:url(../images/uc-txt-ico.png);
	background-position: 4px -19px;
	}
.uc-txt-ico:hover span.ico16{background-color:#cc0000;}
.uc-txt-ico:hover .txt{
	color:#cc0000;
	text-decoration:underline;
	}
.uc-ucimg-mtl{margin-top:30px; margin-left:30px;}
/* table end */

.modal-content{border-radius:0}
.modal-title{color:#666;}
.modal-body h4{font-size:16px; font-weight:normal;}
.uc-pop-con{
	padding:10px 0 0;
	}
.uc-pop-con .radio-inline, .uc-pop-con .checkbox-inline{min-width:110px; padding-left:0; margin-left:0px; margin-right:10px;}
.uc-pop-con .checkbox-inline input[type="checkbox"]{margin-left:0}

.uc-user-cardid{
	border:1px solid #ccc;
	padding:3px;
	max-width:800px;
	max-height:800px;
	}
.uc-really-det{width:100%;}
.uc-really-det td{line-height:30px;min-height:30px; padding:0 10px;}
.uc-really-det td.ucpt20{padding-top:20px;}

.uc-really-det .uc-minh150{;min-height:150px;}

.table .uc-tab-tip{
	border:0;
	background:none;
	background-color:#e9e9e9;
	margin:0;
	}
.uc-tab-tip tbody tr td,.uc-tab-tip tr td,.uc-tab-tip tfoot tr td{border:0; padding:0}
.uc-tab-tip tbody tr td.uc-tab-brder1,.uc-tab-tip tr td.uc-tab-brder1,.uc-tab-tip tfoot tr td.uc-tab-brder1{border-right:1px solid #ddd;}
.uc-sele-txt{
	border:1px solid #ccc;
	height: 28px;
	padding: 6px 12px;
	font-size: 12px;
	line-height:28px;
	color: #555555;
	vertical-align: middle;
	background: #ffffff url(../images/uc-sele-arr.png) no-repeat right 13px;
	}
.uc-sele-pop{
	background:#fff;
	border:1px solid #ccc;
	}
.uc-sele-pop li{
	clear:both;
	overflow:hidden;
	height:28px;
	line-height:28px;
	border-bottom:1px #ccc dashed;
	padding:0 10px;
	}
.uc-sele-pop li:last-child{border-bottom:0;}
.uc-sele-pop li:hover{background:#fbfff6}
.uct130{width:130px;}
.ucp130{width:130px;}