<script type="text/javascript" src="/javascripts/WdatePicker.js"></script>
<div class="col-lg-10 col-md-9 ucbg-white">
    <div class="uc-inpli">
        <h2 class="uc-r-tit">后台收录</h2>
        <form class="form-horizontal" id="form1" name="form1" role="form">
        	<div class="form-group">
				<label class="col-sm-2 control-label">知识库 : </label>
			  	<div class="col-sm-10 select-base">
			    	<select id="base" class="form-control" name="base">
                        <option value="0">选择知识库</option>
                        <% base.forEach(function(d){ %>
			        	    <option value="<%=d.id %>"><%=d.name %>知识库</option>
                        <% }) %>
                    </select>
                </div>
			</div>
            <div class="form-group">
                <label class="col-sm-2 control-label">知识点 : </label>
                <div class="col-sm-10 select-knowledge">
                    <select id="knowledge" class="form-control" name="knowledge">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">收录编辑 : </label>
                <div class="col-sm-10 select-expert">
                    <select id="expert" class="form-control" name="expert">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">内容类型 : </label>
                <div class="col-sm-10">
                    <select id="type" class="form-control" name="type">
                        <option value="1">文章</option>
                        <option value="2">视频</option>
                        <option value="3">文档</option>
                        <option value="4">问答</option>
                        <option value="5">代码</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">内容标题 : </label>
                <div class="col-sm-10">
                    <input class="form-control" value="" placeholder="内容标题" id="title" type="text" name="title">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">内容链接 : </label>
                <div class="col-sm-10">
                    <input class="form-control" value="" placeholder="内容链接" id="url" type="text" name="url">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">内容作者 : </label>
                <div class="col-sm-10">
                    <input class="form-control" value="" placeholder="内容作者" id="owner" type="text" name="owner">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">资源id : </label>
                <div class="col-sm-10">
                    <input class="form-control" value="" placeholder="资源id" id="id" type="text" name="id">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">内容创建时间 : </label>
                <div class="col-sm-10 ucpl0">
                    <input id="create" name="create" onClick="WdatePicker()" type="text" class="form-control" value="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <hr style="height:1px;border:none;border-top:1px solid #555555;" />
                    <input type="button" value="收录" class="btn btn-primary" id="confirm" onclick="confirmContent()">
                </div>
            </div>
        </form>    
    </div>
</div>
<script>
    $(function(){
        leftmenu_select(3, 1);

        $(".select-base").on('click',function(event){
            var info = {};
            info.baseId = $("#base").val();
            $.ajax({
               type:'POST',
               url:'/content/knowledge',
               async: false,
               data: JSON.stringify(info),
               dataType: "json",
               contentType: "application/json;charset=utf-8",
               success: function (data) {
                  if(!data.err){
                    console.log(data);
                    var str = '';
                    (data.data).forEach(function(d){
                        str += '<option value="'+d.id+'">'+d.name+'</option>';
                    });
                    $("#knowledge").html(str);
                  }
                  else{
                    alert(data.err);
                  }
               }
            });
            return false;
        });

        $(".select-knowledge").on('click',function(event){
            var info = {};
            info.baseId = $("#base").val();
            info.knowledgeId = $("#knowledge").val();
            $.ajax({
               type:'POST',
               url:'/content/expert',
               async: false,
               data: JSON.stringify(info),
               dataType: "json",
               contentType: "application/json;charset=utf-8",
               success: function (data) {
                  if(!data.err){
                    console.log(data);
                    var str = '';
                    (data.data).forEach(function(d){
                        str += '<option value="'+d.username+'">'+d.username+' - '+d.realname+'</option>';
                    });
                    $("#expert").html(str);
                  }
                  else{
                    alert(data.err);
                  }
               }
            });
            return false;
        });
    });

    function confirmContent(){
        var info = {};
        info.baseId = $("#base").val();;
        info.knowledgeId = $("#knowledge").val();
        info.expert = $("#expert").val();
        info.type = $("#type").val();
        info.title = $("#title").val();
        info.url = $("#url").val();
        info.owner = $("#owner").val();
        info.sourceId = $("#id").val();
        info.createDate = $("#create").val();
        if(!info.baseId || !info.knowledgeId || !info.expert || !info.type || !info.title || !info.url || !info.owner || !info.createDate || !info.sourceId){
            alert("内容填写不完整!");
        }
        else{
            $.ajax({
                type: 'POST',
                url: '/content/confirm',
                async: false,
                data: JSON.stringify(info),
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                  if(data.err){
                    alert(data.err+', 保存失败');
                  }
                  else{
                    alert("保存数据成功!");
                    location.href="/content/list";
                  }
                }
            });
        }
    }
</script>